.sidebar {
    background-color: #1B62D9;
    background-image: url('../img/sidebar.png');
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    position: fixed;
    left: 0;
    a {
        color: white;
        i {
            color: #af91ef;
        }
    }
    li {
        border-bottom: 1px solid #8766e4;
        a {
            &:hover {
                @extend .active;
            }
        }
    }
    .active {
        position: relative;
        background-color: white;
        color: #4a545c;
        i {
            color: #4a545c;
        }
        &:after {
            content: "\f105";
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-family: FontAwesome;
        }
    }
}
